<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS覆盖-删除，如果你不需要它 -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section id="app">
			<section class="todoapp">
				<header class="header">
					<h1>todos</h1>
					<input class="new-todo" v-model="todoText" placeholder="What needs to be done?" autofocus @keyup.enter="Submit">
				</header>
				<!-- 这部分应该是默认隐藏和显示当有待办事项 -->
				<section class="main">
					<input id="toggle-all" class="toggle-all" @click="toggleAll"  type="checkbox">
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list" v-if="todos.length">
						<!-- 这些只是为了显示列表项的结构。 -->
						<!-- 列表项在编辑时应该得到“编辑”，在标记为“完成”时应该得到“完成” -->
						<li v-for="(item,index) in todos"
                          @dblclick="editing(item)"
                          :class="{editing:item == editingFlag,completed:item.complated}"
						  >
							<div class="view">
								<input class="toggle" type="checkbox"
								:checked="item.complated" 
								@click="toggleCompleted(item)"
								>
								<label>{{item.content}}</label>
								<button class="destroy" @click="removeTodos(item,index)"></button>
							</div>
							<input class="edit" value=""
                             v-model="editingText"
                             @keyup.esc="editingEsc"
                             @keyup.enter="editingEnter(item,index)"
                             v-bb-focus="item == editingFlag"
							>
						</li>
						
					</ul>
				</section>
				<!-- 默认情况下，此页脚应该隐藏，并在有todos时显示 -->
				<footer class="footer">
					<!-- 默认情况下应该是0项 -->
					<span class="todo-count"><strong>{{backTodos.length}}</strong> item left</span>
					<!-- 如果不实现路由，请删除这个 -->
					<ul class="filters">
						<li>
							<a :class="{selected: cur=='all'}" @click=" cur = 'all'" href="#/">All</a>
						</li>
						<li>
							<a :class="{selected: cur=='active'}" @click=" cur = 'active'" href="#/active">Active</a>
						</li>
						<li>
							<a :class="{selected: cur=='completed'}" @click=" cur = 'completed'" href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- 如果没有完整的物品被隐藏 -->
					<button class="clear-completed">Clear completed</button>
				</footer>
			</section>
			<footer class="info">
				<p>Double-click to edit a todo</p>
				<!-- 删除以下一行 -->
				<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
				<!-- 把这个改成你的名字和网址。 -->
				<p>Created by <a href="http://todomvc.com">you</a></p>
				<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
			</footer>
		</section>
		<!-- 这里有剧本。不要删除。 -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
